<h1><%= @list.name %></h1>
<p>Look at all the bookmarks you have added so far to this list.</p>

<! -- treba tu dat vsetky bookmarks zoznamu -->

<% if @bookmarks.length > 0%>
  <% @bookmarks.each do |bookmark|%>
    <%= bookmark.movie.title %>
    <%= bookmark.comment %>
    <%= button_to "Delete Film", list_bookmark_path(@list, bookmark), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>

<%= link_to "Add Film", new_list_bookmark_path(@list) %>

<%= link_to "Back", lists_path %>
